{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Community Hub</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header class="home-page-header">
        <div class="logo-image">
            <img src="{% static 'images/logo.png' %}" alt="Logo" height="80px" width="100px">
        </div>
        <div class=" title">
            <h1>MY COMMUNITY HUB</h1>
            <p>A COMMUNITY SUPPORT & INFORMATION PLATFORM</p>
        </div>
        <div class="Login-Register">
            {% if username %}
                <div class="user">Welcome, {{username}}!  <a href="{% url 'Logout Page' %}">Logout</a></div>
            {% else %}
                <a class="login-btn" href="{% url 'Login Page' %}" >LOGIN</a>
                <span> | </span>
                <a class="register-btn" href="{% url 'Register Page' %}">REGISTER</a>
            {% endif %}
        </div>
        {% if username %}
            <a class="profile-icon" href="{% url 'Profile Page' username %}"><img src="{% static 'images/profile-icon.png' %}" alt="Icon" height="60px" width="60px"></a>
        {% else %}
            <a class="profile-icon" href="{% url 'Login Page' %}"><img src="{% static 'images/profile-icon.png' %}" alt="Icon" height="60px" width="60px"></a>
        {% endif %}
    </header>
    <main>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="{% url 'Home Page' %}">HOME</a></li>
                <li><a href="{% url 'All Posts Page' %}">ALL POSTS</a></li>
                <li><a href="{% url 'Create Post Page' %}">CREATE POST</a></li>
                <li><a href="{% url 'About Page' %}">ABOUT US</a></li>
                <li><a href="{% url 'Feedback Page' %}">FEEDBACK</a></li>
                <li><a href="{% url 'Contact Page' %}">CONTACT US</a></li>
            </ul>
        </nav>
        <nav class="mobile-navbar">
            <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
            <ul class="mobile-nav-links">
                <li><i class="fa-solid fa-arrow-left"></i></li>
                {% if username %}
                    <li><a href="{% url 'Profile Page' username %}">Hello! {{username}}</a></li>
                    <li><a href="{% url 'Logout Page' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'Register Page' %}">REGISTER</a></li>
                    <li><a href="{% url 'Login Page' %}">LOGIN</a></li>
                {% endif %}
                <li><a href="{% url 'Home Page' %}">HOME</a></li>
                <li><a href="{% url 'All Posts Page' %}">ALL POSTS</a></li>
                <li><a href="{% url 'Create Post Page' %}">CREATE POST</a></li>
                <li><a href="{% url 'About Page' %}">ABOUT US</a></li>
                <li><a href="{% url 'Feedback Page' %}">FEEDBACK</a></li>
                <li><a href="{% url 'Contact Page' %}">CONTACT US</a></li>
            </ul>
        </nav>
        <div class="notification-bar">
            {% if posts %}
                {% for post in posts %}
                    {% if forloop.first %} 
                        <p>Latest News: {{ post.title}}! Description: {{ post.description }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Welcome to MY COMMUNITY HUB! The latest updates are displayed here</p>
            {% endif %}
        </div>
        <form class="search-form" method="POST" action="{% url 'Submit Filter Request' %}">
            {% csrf_token %}
            <select class = "search-select" name="category">
                <option value="">Category</option>
                <option value="Agriculture">Agriculture</option>
                <option Value="General">General</option>
                <option value="Medical">Medical</option>
                <option value="Education">Education</option>
                <option value="Event">Event</option>
                <option value="Help">Request Help</option>
                <option value="Employment">Employment</option>
            </select>
            <input class="search-input" name="location" placeholder="Enter location to search information">
            <button type="submit" class="search-btn">Search</button>
        </form>
        <div class="recent-posts">
            {% if posts %}
                <h2>Recent Posts:</h2>
                <div class="row1 posts-row">
                    {% for post in posts %}
                        <div class="post1 posts-container">
                            <div class="info1 user-info">
                                <div class="profile-logo">
                                    <a href="{% url 'Profile Page' post.author.username %}">
                                        <img src="{% static 'images/profile-icon.png' %}" alt="Profile Logo" height="32px" width="32px">
                                    </a>
                                </div>
                                <div class="info">
                                    <h6>{{ post.author.username }}</h6>
                                    <h6>{{ post.event_date| date:"M d, Y H:i" }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="post-title">
                                <h2>{{ post.title }}</h2>
                            </div>
                            <div class="post-content">
                                <p>{{ post.description }}</p>
                            </div>
                            <hr>
                            <div class="post-info">
                                <span class="category">Category: {{ post.category }}<br></span>
                                <span class="location">Location: {{ post.location }}<br></span>
                                <span class="contact">Contact: {{ post.author_phone_number.phone_number }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-posts-message">
                    <h2>No Posts to Show</h2>
                    <p>No posts have been created yet. Be the first to <a href="{% url 'Create Post Page'%}">Create a Post</a>!</p>
                </div>
            {% endif %}
        </div>
    </main>
    <footer class="footer-all-posts">
        <button type="button" class="load-more-btn">Load More</button>
    </footer>
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{message}}")
            {% endfor %}
        </script>
    {% endif %}
    <script src="{% static 'script.js' %}"></script>
</body>
</html>